@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SURF, MO'S HOBBY</h1>
    <p>Welcome to my page! It's just a couple old surf pictures and me geeking out about surfing. Hope you enjoy!</p>
</div>

<img src="~/scorp_bay.jpeg" height="400" style="display: block; margin: 0 auto;" />
<br />
<img src="~/surf.jpeg" height="402" style="display: block; margin: 0 auto;" />
<br />
<img src="~/surf_competition.jpeg" height="400" style="display: block; margin: 0 auto;" />
<br />
<div class="text-left"> 
    <p1>If you don't know this already, I grew up in Cabo San Lucas, Mexico. I loved growing up there!
        One of my favorite parts of growing up there was how close I was to the beach. Sadly,
        I was really scared of the water becasue of all the unknown that would be beneath me!
        Eventually, however, I got over my fear and learned how to surf. One of the best decisions
        I have ever made... But it took me a while to learn for some reason.
    </p1> 
    <br />
    <br />
    <p1>My last two years of highschool I was finally getting descent, and a family friend said I 
        should join one of the local surf competitions coming up. I was hesitant because of my skill]
        level, but my friend said it was not about competing. It was going to be about having fun.
        I signed up, and showed up, and had so much fun! I even advanced to the semifinals haha!
    </p1>
    <br />
    <br />
    <p1>There really is nothing like it. It is so unexpensive, all you need is a single surf board and some good conditions.
        You are able to practice good life skills, like patience. It helps keep you body young and active. It is great 
        excercise. You get to spend time in God's creation. If you time it right, you get to watch beautiful sunrises and 
        sunsets. You're able to be one with nature as you paddle into and ride a wave. Ah, the feeling of riding a wave. It 
        is like any other feeling you will ever have. I want eveyone to be able to experience it oce day. That is also partly why 
        I created this page! navigate to my second page so you can learn more about how I can teach you how to surf!
    </p1>
</div>